@import url('../../assets/fonts/STEINEM_.ttf');

@font-face {
    font-family: 'STEINEM';
    src: url(../../assets/fonts/STEINEM_.ttf) format('opentype');
}



body {
    background-color: rgba(255,254,223,255);
    font-family: 'STEINEM';
}


.paragraph {
    text-indent: 30px;
    font-family: 'STEINEM';
    font-size: 14px;
    margin-left: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: justify;
    line-height: 0.5;
}


footer {
    text-align: center;
}

.footer-links {
    font-family: 'STEINEM';
    font-size: 14px;
    margin-left: 20px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    line-height: 0.5;
}


